In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('nodes_catalogue.csv')
df.head(10)

               author                   id_article
0  Elsayed E. Hemayed        conf/3dica/AhmedYHF97
1        Aly A. Farag        conf/3dica/AhmedYHF97
2     Moumen T. Ahmed        conf/3dica/AhmedYHF97
3     Sameh M. Yamany        conf/3dica/AhmedYHF97
4  Holly E. Rushmeier     conf/3dica/BernardiniR00
5   Fausto Bernardini     conf/3dica/BernardiniR00
6      François Blais  conf/3dica/BursanescuBHBG00
7    Liviu Bursanescu  conf/3dica/BursanescuBHBG00
8      David A. Green  conf/3dica/BursanescuBHBG00
9         Maher Hamdi  conf/3dica/BursanescuBHBG00

In [3]:
len(df['author'].unique())

88783

In [4]:
G = nx.Graph()
begin = 0
final =  begin+1
end = df.shape[0]

while begin < end:
    while final < end and df['id_article'].iloc[begin] == df['id_article'].iloc[final]:
        final+=1
    while begin < final:
        aux = begin +1
        while aux < final:
            G.add_edge(df['author'].iloc[aux],df['author'].iloc[begin])
            aux+=1
        begin+=1

In [5]:
aristas = [e for e in G.edges]
len(aristas)

284654

In [6]:
df_edges = pd.DataFrame(aristas, columns=['source', 'target'])
df_edges.head(10)

         source                         target
0  Aly A. Farag             Elsayed E. Hemayed
1  Aly A. Farag                Moumen T. Ahmed
2  Aly A. Farag                Sameh M. Yamany
3  Aly A. Farag  Mostafa Gadal-Haqq M. Mostafa
4  Aly A. Farag                   David Tasman
5  Aly A. Farag                Allan G. Farman
6  Aly A. Farag               Mohamed N. Ahmed
7  Aly A. Farag                       S. Ahmed
8  Aly A. Farag                     S. Roberts
9  Aly A. Farag                 Edward J. Delp

In [7]:
df_edges.to_csv('edges.csv', index=False)