In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('authorships.csv')

In [3]:
df.head()

                  author                id_article
0           Frank Manola  tr/gte/TR-0169-12-91-165
1           Frank Manola  tr/gte/TM-0332-11-90-165
2        Mark F. Hornick  tr/gte/TM-0332-11-90-165
3  Alejandro P. Buchmann  tr/gte/TM-0332-11-90-165
4           Frank Manola  tr/gte/TR-0263-08-94-165

# Eliminar autores con una o dos publicaciones

In [4]:
# Eliminar autores con una o dos publicaciones

autores_cantidad = df.groupby('author').count()
cantidad = autores_cantidad.id_article
cantidad[:5]

author
A Min Tjoa          38
A-Imam Al-Sammak     1
A-Rum Jun            3
A-Xing Zhu           2
A. A'Campo-Neuen     1
Name: id_article, dtype: int64

In [5]:
lista_autores = []

for i in range(len(cantidad)):
    if cantidad[i] > 2:
        lista_autores.append(cantidad.index[i])
lista_autores[:5]

['A Min Tjoa',
 'A-Rum Jun',
 'A. A. (Louis) Beex',
 'A. A. Abouelsoud',
 'A. A. Ball']

In [6]:
print(df.shape)
df = df.sort_values(by=['author'])
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)

(1111670, 2)

In [7]:
start = 0
end = df.shape[0]

inicio = 0
fin = len(lista_autores)

list_author = []
list_title = []

while start < end and inicio < fin:
    
    while inicio < fin and\
    df['author'].iloc[start] > lista_autores[inicio]:
        inicio += 1
        
    if inicio == fin:
        break
        
    if df['author'].iloc[start] == lista_autores[inicio]:
        list_author.append(df['author'].iloc[start])
        list_title.append(df['id_article'].iloc[start])    
        
    start += 1
    
print(list_author[:10])
print(list_title[:10])

['A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa', 'A Min Tjoa']
['conf/er/PernulWT93', 'conf/eurocast/OberlikPTWW94', 'conf/eurocast/GierlingerTW91', 'conf/dbsec/EssmayrPT97', 'conf/bis/SchieferT99', 'conf/europacs/Tjoa00', 'journals/jiis/MohaniaTK00', 'conf/tke/LukasSTB93', 'conf/er/PernulT91', 'conf/er/TjoaB93']

In [8]:
df = pd.DataFrame(list(zip(list_author, list_title)),
                  columns=['author', 'id_article'])
df.shape

(828577, 2)

In [16]:
len(df['author'].unique())

88783

# Eliminar libros con un solo autor

In [9]:
# Eliminar libros con un solo autor
#df3.groupby('title').count()

# Eliminar libros con un solo autor
libros_cantidad = df.groupby('id_article').count()
cantidad_libros = libros_cantidad.author

In [10]:
lista_libros = []
for i in range(len(cantidad_libros)):
    if cantidad_libros[i] > 1:
        lista_libros.append(cantidad_libros.index[i])
lista_libros[:10]

['conf/3dica/AhmedYHF97',
 'conf/3dica/BernardiniR00',
 'conf/3dica/BursanescuBHBG00',
 'conf/3dica/CarocciLRS98',
 'conf/3dica/CornerBP97',
 'conf/3dica/DaanenTBN97',
 'conf/3dica/EdelsbrunnerFFQN98',
 'conf/3dica/GarciaTLDVA98',
 'conf/3dica/GoddardA98',
 'conf/3dica/HadjresM00']

In [11]:
print(df.shape)
df = df.sort_values(by=['id_article'])
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df.head()

(828577, 2)

               author                id_article
0  Elsayed E. Hemayed     conf/3dica/AhmedYHF97
1        Aly A. Farag     conf/3dica/AhmedYHF97
2     Moumen T. Ahmed     conf/3dica/AhmedYHF97
3     Sameh M. Yamany     conf/3dica/AhmedYHF97
4  Holly E. Rushmeier  conf/3dica/BernardiniR00

In [12]:
start = 0
end = df.shape[0]

inicio = 0
fin = len(lista_libros)

list_author = []
list_title = []

while start < end and inicio < fin:
    
    while inicio < fin and\
    df['id_article'].iloc[start] > lista_libros[inicio]:
        inicio += 1
        
    if inicio == fin:
        break
        
    if df['id_article'].iloc[start] == lista_libros[inicio]:
        list_author.append(df['author'].iloc[start])
        list_title.append(df['id_article'].iloc[start])    
        
    start += 1
    
print(list_author[:10])
print(list_title[:10])

['Elsayed E. Hemayed', 'Aly A. Farag', 'Moumen T. Ahmed', 'Sameh M. Yamany', 'Holly E. Rushmeier', 'Fausto Bernardini', 'François Blais', 'Liviu Bursanescu', 'David A. Green', 'Maher Hamdi']
['conf/3dica/AhmedYHF97', 'conf/3dica/AhmedYHF97', 'conf/3dica/AhmedYHF97', 'conf/3dica/AhmedYHF97', 'conf/3dica/BernardiniR00', 'conf/3dica/BernardiniR00', 'conf/3dica/BursanescuBHBG00', 'conf/3dica/BursanescuBHBG00', 'conf/3dica/BursanescuBHBG00', 'conf/3dica/BursanescuBHBG00']

In [13]:
df = pd.DataFrame(list(zip(list_author, list_title)),
                  columns=['author', 'id_article'])
df.shape

(656387, 2)

In [14]:
df.groupby('id_article').count()

                               author
id_article
conf/3dica/AhmedYHF97               4
conf/3dica/BernardiniR00            2
conf/3dica/BursanescuBHBG00         4
conf/3dica/CarocciLRS98             4
conf/3dica/CornerBP97               2
conf/3dica/DaanenTBN97              3
conf/3dica/EdelsbrunnerFFQN98       4
conf/3dica/GarciaTLDVA98            5
conf/3dica/GoddardA98               2
conf/3dica/HadjresM00               2
conf/3dica/HagaSHS99                2
conf/3dica/HebertR98                2
conf/3dica/HemayedF99               2
conf/3dica/HemayedMF00              3
conf/3dica/HemayedSWF97             2
conf/3dica/HosoyaNO98               3
conf/3dica/HungCHF99                3
conf/3dica/JostSH99                 3
conf/3dica/JuarezDA00               2
conf/3dica/KanamaruYINAS00          6
conf/3dica/KarbacherH98             2
conf/3dica/KobayashiFKT00           3
conf/3dica/LangeC99                 2
conf/3dica/LechatMP97               2
conf/3dica/LeeKP99                  3
conf/3dica/LiCP00                   3
conf/3dica/LiCP99                   3
conf/3dica/MatsumotoFK99            2
conf/3dica/MenardS98                2
conf/3dica/OhLK00                   2
...                               ...
tr/trier/MI97-13                    2
tr/trier/MI97-14                    3
tr/trier/MI97-15                    2
tr/trier/MI97-16                    2
tr/trier/MI97-23                    2
tr/trier/MI97-27                    2
tr/trier/MI97-28                    2
tr/trier/MI98-01                    2
tr/trier/MI98-08                    2
tr/trier/MI98-09                    2
tr/trier/MI98-13                    2
tr/trier/MI98-21                    3
tr/trier/MI98-22                    6
tr/trier/MI98-23                    2
tr/trier/MI98-24                    2
tr/trier/MI98-25                    2
tr/trier/MI98-27                    2
tr/trier/MI98-28                    2
tr/trier/MI98-29                    4
tr/trier/MI99-06                    2
tr/trier/MI99-07                    2
tr/trier/MI99-10                    3
tr/trier/MI99-14                    2
tr/trier/MI99-16                    2
tr/trier/MI99-19                    2
tr/trier/MI99-23                    2
tr/trier/MI99-25                    4
tr/trier/MI99-27                    3
tr/trier/MI99-28                    2
tr/trier/MI99-29                    2

[251190 rows x 1 columns]

In [15]:
df.to_csv('nodes_catalogue.csv', index=False)